@model Bordspelhub.Models.Spel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Spel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpelNaam" class="control-label"></label>
                <input asp-for="SpelNaam" class="form-control" />
                <span asp-validation-for="SpelNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpelCategorie" class="control-label"></label>
                <input asp-for="SpelCategorie" class="form-control" />
                <span asp-validation-for="SpelCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpelLeeftijdsCategorie" class="control-label"></label>
                <input asp-for="SpelLeeftijdsCategorie" class="form-control" />
                <span asp-validation-for="SpelLeeftijdsCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpelBeschrijving" class="control-label"></label>
                <input asp-for="SpelBeschrijving" class="form-control" />
                <span asp-validation-for="SpelBeschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
