@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main b-y6vdxu58w4="" role="main" class="pb-3">



    <div class="card">

        <div class="row">
            <div class="col-3 text-center align-self-center">
                <img class="img-fluid" src="https://i.imgur.com/7a9V4yw.png">
            </div>
            <div class="col-7">
                <div class="row title">
                    <div class="col">
                        <h2>Spelnaam</h2>
                    </div>
                    <div class="col text-right">
                        <a href="#">
                            <i class="fa fa-heart-o">
                            </i>
                        </a>
                    </div>
                </div>
                <p>Beschrijving Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ads aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
                
                <span id="reviews">1590 Reviews</span>

            </div>
        </div>
    </div>

    <div class="card bg-secondary" style="margin-top:5%; padding:1%">
        @for (int i = 0; i < 5; i++)
        {
        <div class="card" style="width:100%">

            <div class="row">
                <p class="text-secondary">Question by: Username</p>
                <p>Beschrijving Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ads aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
                <div class="col-2 offset-10">
                    <p><a class="btn btn-secondary" asp-area="" asp-controller="Forum" asp-action="Forum">View details »</a></p>
                </div>
            </div>
        </div>
        }
    </div>
    
</main>