@model Bordspelhub.Models.Evenement
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Evenement toevoegen</h1>

<h4>Evenement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EvenementNaam" class="control-label"></label>
                <input asp-for="EvenementNaam" class="form-control" />
                <span asp-validation-for="EvenementNaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locatie" class="control-label"></label>
                <input asp-for="Locatie" class="form-control" />
                <span asp-validation-for="Locatie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvenementDatum" class="control-label"></label>
                <input asp-for="EvenementDatum" type="date" class="form-control" />
                <span asp-validation-for="EvenementDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Creator" class="control-label"></label>
                <input asp-for="Creator" value="@UserManager.GetUserName(User)" class="form-control" />
                <span asp-validation-for="Creator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
